# travis build configuration for ZeroPilot-SW

language: cpp
sudo: false

cache:
  directories:
    - $HOME/gcc-arm-none-eabi-6-2017-q2-update

addons:
  apt:
    packages:
    - cmake

env:
  - TARGET=Autopilot
  # - TARGET=Safety # no CMake support on safety yet

install:
  - export GCC_DIR=$HOME/gcc-arm-none-eabi-6-2017-q2-update
  - export GCC_ARCHIVE=$HOME/gcc-arm-none-eabi-6-2017-q2-update-linux.tar.bz2
  - export GCC_URL=https://developer.arm.com/-/media/Files/downloads/gnu-rm/6-2017q2/gcc-arm-none-eabi-6-2017-q2-update-linux.tar.bz2
  - if [ ! -e $GCC_DIR/bin/arm-none-eabi-g++ ]; then wget $GCC_URL -O $GCC_ARCHIVE; tar xfj $GCC_ARCHIVE -C $HOME; fi
  - export PATH=$GCC_DIR/bin:$PATH

script:
  - cd $TARGET
  - mkdir -p build
  - cd build
  - cmake ../ -DCMAKE_TOOLCHAIN_FILE=Dev/STM32F765xG.cmake -G "Unix Makefiles"
  - make
